.Output {
    background-color: #282c34;
    border-radius: 0.2rem;
    color: antiquewhite;
    height: 350px;
    width: 350px;
    overflow: hidden;
}

@media (max-width: 365px) {
    .Output {
        height: 90vmin;
        width: 90vmin;
    }
}


.Output .output-sprite {
    font-size: 1.3rem;
    height: calc(100% - 3rem);
    overflow-y: auto;
}

.Output h4 {
    height: 3rem;
    font-size: 1.5rem;
    margin: 0;
    line-height: 3rem;
}

.Output .output-sprite span {
    padding: 0.2rem;
}

.Output .output-sprite p {
    margin-block: 0.5rem;
    margin-inline: 0.5rem;
}

