.App {
    display: grid;
    text-align: center;
    grid-template-rows: auto 1fr auto;
    grid-auto-columns: 100%;
    grid-gap: 2rem;
    min-height: 100%;
}

header {
    background-color: #282c34;
    text-align: center;
    font-size: 2.5vmin;
}

.content {
    display: grid;
    grid-template-areas:
        'canvas output'
        'msg msg';
    grid-template-rows: auto 1fr;
    justify-content: center;
    grid-gap: 1rem;
    column-gap: 2rem;
    font-size: 3vmin;
}

@media (max-width: 765px) {
    .content {
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            'canvas'
            'output'
            'msg';
    }
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    height: 2.5rem;
}

.toolbar select {
    border-radius: 0.3rem;
    background: antiquewhite;
    height: 2rem;
    font-size: 1rem;
}

.canvas-grid {
    grid-area: canvas;
}

.output {
    grid-area: output;
}

.message {
    grid-area: msg;
}

footer {
    font-size: 0.8rem;
    background-color: #282c34;
    padding: 0.3rem;
}