html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #42464f;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: antiquewhite;
  font-family: Consolas, Monaco, monospace;
}

a {
  color: #61dafb;
}


